// you can change config here
$theme-color: #aa96da;

$theme-colors:rgba(62, 175, 124,0.5), rgba(251, 155, 95,.5), #2196f3, #e1e1e1, #252525d5, #F6F8FA;

:root{
    --categoryNavBar-text: rgba(80, 80, 80, 0.519);
    --categoryNavBar-text-dark: rgba(255, 255, 255, 0.38);
    --categoryNavBar-bg: rgba(226, 226, 226, 0.455);
    --categoryNavBar-bg-dark: rgba(157, 157, 157, 0.1);
    
}